@model List<bytme.Models.WishlistModel>

@{
    ViewData["Title"] = "Favorites List";
}

<style>
    .img_box {
        position: relative;
        text-align: center;
    }

    .centered > p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .desc {
        width: 150px; /* the element needs a fixed width (in px, em, %, etc) */
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis; /* give the beautiful '...' effect */
        font-size: 12px;
        margin-left: 50px;
    }

    .description {
        font-size: 16px;
    }

    .box {
        width: auto;
        margin-bottom: 0px;
    }

    .shop:after {
        font-family: "Glyphicons Halflings";
        content: "\e116";
        margin-top: -30px;
        text-align: end;
    }

    .shop:hover {
        font-size: 15px;
        color: #C7B5C9;
        text-decoration: none;
    }

    .tooltip {
        background-color: white !important;
        border-radius: 3%;
        border: 1px solid #ddd;
    }

    .tooltip-arrow {
        color: #C7B5C9 !important;
        border-bottom-color: #C7B5C9;
    }

    .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #C7B5C9;
    }

    .tooltip-inner {
        color: black !important;
        background-color: white !important;
        font-size: 15px;
    }

    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0.8;
    }
</style>
<h2 style="text-align:center;">Favorites List</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    @if (ViewBag.model_for_view != null)
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box">
                <div class="thumbnail" style="text-align:center;">
                    @if (item.stock != 0)
                    {
                        <div class="img_box">
                            <a onclick="@("window.location.href=' " + Url.Action("ProductDetail", "ProductDetail", new { id = item.item_id }) + " ' ");"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;cursor:pointer;" /></a>
                            <div class="text-block">
                                @if (item.stock <= 5)
                                {
                                    <p>Almost sold out</p>
                                }
                            </div>
                        </div>
                        <div class="desc_box">
                            <p>&euro;@item.price</p>
                            <p class="description">@item.description</p>
                            <p class="desc">@item.long_description</p>
                            <a class="btn btn-default" href='@Url.Action("SaveItemInShoppingCart", "ShoppingCart", new { item_id = item.item_id, qty = 1 })'><span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <a class="btn btn-danger" href='@Url.Action("RemoveFromWishList", "WishList", new { ordline_id = item.ordline_id })'>X</a>
                        </div>
                    }
                    else
                    {
                        <div class="img_box">
                            <img src="@item.photo_url" style="width:245px;height:332px;text-align:center;opacity:0.4;" />
                            <div class="centered"><p style="text-decoration:solid;font-size:30px;">Out of stock!</p></div>
                        </div>
                        <div class="desc_box">
                            <p>&euro;@item.price</p>
                            <p class="description">@item.description</p>
                            <p class="desc">@item.long_description</p>
                            <a class="btn btn-danger" href='@Url.Action("RemoveFromWishList", "WishList", new { ordline_id = item.ordline_id })'>X</a>
                        </div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h4 style="color: rgba(158, 1, 1, 0.9);">Your favorites list is empty.</h4>
    }
}
else
{
    <h3>You are not logged-in..</h3>
    <h4>You will be redirected to the log-in page, or <a href="/" style="text-decoration:none;color:#8f6b93;">click</a> here to go back to the home page.</h4>
    <script>
        window.setTimeout(function () { window.location.replace('/Identity/Account/Login'); }, 4000);
    </script>
}
