@model EditUserModel
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<UserModel> UserManager
@using bytme.Models
@using Microsoft.AspNetCore.Identity
@{
    var user = await UserManager.FindByIdAsync(Model.id);
}
<h2>EditUser</h2>

<p>@user.name @user.surname - Date created: @Html.DisplayFor(m => m.dt_created)</p>

<hr />
<div class="container">
    <form id="EditUserForm" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.name">Name</label>
            <input asp-for="@Model.name" class="form-control" style="width:90%" placeholder="@Model.name" />
            <span asp-validation-for="@Model.name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.surname">Surname</label>
            <input asp-for="@Model.surname" class="form-control" style="width:90%" placeholder="@Model.surname" />
            <span asp-validation-for="@Model.surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email">Email</label>
            <input asp-for="@Model.Email" class="form-control" style="width:90%" placeholder="@Model.Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.street">Street</label>
            <input asp-for="@Model.street" class="form-control" style="width:90%" placeholder="@Model.street" />
            <span asp-validation-for="@Model.street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.streetnumber">Streetnumber</label>
            <input asp-for="@Model.streetnumber" class="form-control" style="width:90%" placeholder="@Model.streetnumber" />
            <span asp-validation-for="@Model.streetnumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.zipcode">Zipcode</label>
            <input asp-for="@Model.zipcode" class="form-control" style="width:90%" placeholder="@Model.zipcode" />
            <span asp-validation-for="@Model.zipcode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.city">City</label>
            <input asp-for="@Model.city" class="form-control" style="width:90%" placeholder="@Model.city" />
            <span asp-validation-for="@Model.city" class="text-danger"></span>
        </div>
        <div class="col-lg-11" style="padding-top:3%">
            @Html.ActionLink("back", "Index", "Manage", null, new { @class = "btn btn-default", type = "submit", onclick = "return confirm('Are you sure you want to leave this page?')", title = "Back to users", style = "float:right; " })
            <input type="submit" value="save changes" title="save changes" class="form-control" style="width:auto;margin-right: 2%;float:right;color:#4D6810;background-color:#d0dfb7;border-color:#4D6810;" />
        </div>
    </form>
</div>


