@model List<bytme.Models.ShoppingCartModel>

@inject UserManager<UserModel> userManager

@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await userManager.GetUserAsync(User);
}

<h2>Checkout</h2>

@if (ViewBag.count != 0)
{
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <br />
        <div style="width: 100%">
            <div style="float:left; width: 60%">
                <h3><b>Data</b></h3>
                <h4>@user.name @user.surname</h4>
                <h4>@user.street @user.streetnumber</h4>
                <h4>@user.zipcode, @user.city</h4>
                <h4><a asp-area="Identity" asp-page="/Account/Manage/Index" text-decoration:none;">Change Name</a></h4>
                <h4><a asp-area="Identity" asp-page="/Account/Manage/Address" text-decoration:none;">Change Address</a></h4>
            </div>
            <div style="float: right">
                <h3><b>Payment option</b></h3>
                <form>
                    <center><h4><input checked="checked" name="payment" type="radio" value="true" /> Paypal</h4></center>
                </form>
                <script>
                                var totalPrice = parseFloat("@ViewBag.TotalPrice".replace(",", "."));
                </script>
                <div id="paypal-button-container"></div>
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
                    // Render the PayPal button
                    paypal.Button.render({
                        // Set your environment
                        env: 'sandbox', // sandbox | production

                        // Specify the style of the button
                        style: {
                            layout: 'horizontal',  // horizontal | vertical
                            size: 'large',    // medium | large | responsive
                            shape: 'pill',      // pill | rect
                            color: 'black'       // gold | blue | silver | white | black
                        },

                        // Specify allowed and disallowed funding sources
                        //
                        // Options:
                        // - paypal.FUNDING.CARD
                        // - paypal.FUNDING.CREDIT
                        // - paypal.FUNDING.ELV
                        funding: {
                            allowed: [
                                paypal.FUNDING.CARD,
                                paypal.FUNDING.CREDIT
                            ],
                            disallowed: []
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // PayPal Client IDs - replace with your own
                        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                        client: {
                            sandbox: 'AcXXg_AJtE3WmNiQiU81S5w2oIzdLTFfhWGLVuq6u4Q3oUu_xXTV6Zeqip_xRufDkFWCrumyLeEFO0Ag',
                            production: '<insert production client id>'
                        },

                        payment: function (data, actions) {
                            return actions.payment.create({
                                payment: {
                                    transactions: [
                                        {
                                            amount: {
                                                total: totalPrice,
                                                currency: 'EUR'
                                            }
                                        }
                                    ]
                                }
                            });
                        },

                        onAuthorize: function (data, actions) {
                            return actions.payment.execute()
                                .then(function () {
                                    $.ajax({
                                        type: "POST",
                                        data: {
                                        },

                                        url: "/ShoppingCart/ConfirmOrder",
                                        success: function (response) {
                                            document.body.innerHTML = response;
                                        },
                                        error: function () {
                                            return "error";
                                        }
                                    });
                                    window.alert('Payment Complete! Email has been sent!')
                                });
                        }
                    }, '#paypal-button-container');
                </script>
            </div>
        </div>
    }
    else
    {
        <h1><b><center>This feature is not yet built in. Please register. Our sincere apologies.</center></b></h1>
    }
}
else
{
    <h1><b><center>Put something in your shoppingcart first!</center></b></h1>
}
