@model List<bytme.Models.ShoppingCartModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> userManager
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await userManager.GetUserAsync(User);

    string radio1 = "checked";
    string radio2 = "";
    string radio3 = "";
    string radio4 = "";
    string radio5 = "";
    string radio6 = "";

    switch (ViewBag.Id)
    {
        case "pointradio1":
            radio1 = "checked";
            break;
        case "pointradio2":
            radio2 = "checked";
            radio1 = "";
            break;
        case "pointradio3":
            radio3 = "checked";
            radio1 = "";
            break;
        case "pointradio4":
            radio4 = "checked";
            radio1 = "";
            break;
        case "pointradio5":
            radio5 = "checked";
            radio1 = "";
            break;
        case "pointradio6":
            radio6 = "checked";
            radio1 = "";
            break;
    }
}
<script>
    function UpdateQtyOrder(ordline_id, new_qty) {

        $.ajax({
            type: "POST",
            data: {
                orderline_id: ordline_id,
                qty: new_qty
            },

            url: "/ShoppingCart/UpdateQuantityInShoppingCart",
            success: function (response) {
                document.body.innerHTML = response;
                location.reload();
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    function UpdateQtyOrderSession(item_id, new_qty) {

        $.ajax({
            type: "POST",
            data: {
                item_id: item_id,
                qty: new_qty
            },

            url: "/ShoppingCart/UpdateQuantityInShoppingCartSession",
            success: function (response) {
                document.body.innerHTML = response;
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script language="javascript">
    function testForEnter() {
        if (event.keyCode == 13) {
            event.cancelBubble = true;
            event.returnValue = false;
        }
    }
</script>
<center>
    <h3>
        @if (SignInManager.IsSignedIn(User))
        {
            if (ViewBag.total > 2.95)
            {
                @Html.ActionLink("Move products to account", "SessionToAccount", "ShoppingCart")
            }
        }
    </h3>
</center>
<h2>Your Shoppingcart</h2>
<div class="container">
    <form method="post" id="form-ShoppingCart">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:30%">Product</th>
                    <th style="width:10%">Amount</th>
                    <th style="width:20%">Price</th>
                    <th style="width:20%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            @if (SignInManager.IsSignedIn(User))
            {
                <tbody>
                    @if (ViewBag.model_view != null)
                    {
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td data-th="Products">
                                    <div class="row" style="margin-left:0px">
                                        <a onclick="@("window.location.href=' " + Url.Action("ProductDetail", "ProductDetail", new { id = Model[i].item_id }) + " ' ");"><img src="@Html.DisplayFor(model => model[i].photo_url)" style="width:245px;height:332px;text-align:center;cursor:pointer;" /></a>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">@Html.DisplayFor(model => model[i].description)</h4>
                                            <p>@Html.DisplayFor(model => model[i].long_description)</p>
                                        </div>
                                    </div>
                                </td>

                                <script>
                                    function checkGreaterStock(qty, which, stock) {
                                        if (qty > stock) {
                                            document.getElementById("_data_qty_" + which).value = stock;
                                        }
                                        else if (qty < 1) {
                                            document.getElementById("_data_qty_" + which).value = 1;
                                        }
                                    }
                                </script>

                                <td data-th="Quantity">
                                    <input asp-for="@Model[i].qty" type="number" min="1" max="@Model[i].stock" id="_data_qty_@Model[i].orderline_id" onkeydown="testForEnter();" onchange="UpdateQtyOrder(@Model[i].orderline_id , this.value)" class="form-control" value="@Model[i].qty" oninput="checkGreaterStock(this.value, @Model[i].orderline_id, @Model[i].stock)" required>

                                <td data-th="Price">&euro; @{ var price = (Model[i].price); } @{ @price.ToString("N")}</td>

                                <td data-th="Subtotal" class="text-center"><span id="_data_subtotal_@Model[i].orderline_id"> &euro;  @{var total = (@Model[i].price * @Model[i].qty); } @{ @total.ToString("N") } </span></td>
                                <td class="actions" data-th="">
                                <td>
                                    <a href='@Url.Action("DeleteItemFromShoppingCart", "ShoppingCart", new { orderline_id = Model[i].orderline_id })' class="btn btn-danger btn-block">Remove product</a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="hidden-xs"></td>
                        @if (ViewBag.model_view != null)
                        {
                            @if (ViewBag.totalPrice < 100 && radio1 == "checked")
                            {
                                <td class="hidden-xs text-center"><h5>if you buy €100,- or more your shipping costs will be free </h5></td>
                                <td colspan="2" class="hidden-xs text-center"><h5>shipping costs = €2.95</h5> <h4><strong>Total = &euro;@ViewBag.totalPrice.ToString("0.00")</strong></h4></td>
                            }
                            if (ViewBag.totalPrice < 100 && radio2 == "checked")
                            {
                                <td colspan="5" class="hidden-xs text-center"><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                            }
                            if (ViewBag.totalPrice > 100 && radio1 == "checked")
                            {
                                <td colspan="5" class="hidden-xs text-center"><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                            }
                            if (radio3 == "checked")
                            {
                                float total = ViewBag.totalPrice /0.95f;
                                <td colspan="5" class="hidden-xs text-center"><h5>without discount</h5><h4><strong><span id="result_sub_total">Total &euro;@total.ToString("N")</span></strong></h4></td>
                            }
                            else if (radio4 == "checked")
                            {
                                float total = ViewBag.totalPrice / 0.9f;
                                <td colspan="5" class="hidden-xs text-center"><h5>without discount</h5><h4><strong><span id="result_sub_total">Total &euro;@total.ToString("N")</span></strong></h4></td>
                            }
                            else if (radio5 == "checked")
                            {
                                float total = ViewBag.totalPrice /0.85f;
                                <td colspan="5" class="hidden-xs text-center"><h5>without discount</h5><h4><strong><span id="result_sub_total">Total &euro;@total.ToString("N")</span></strong></h4></td>
                            }
                            else if (radio6 == "checked")
                            {
                                float total = ViewBag.totalPrice /0.80f;
                                <td colspan="5" class="hidden-xs text-center"><h5>without discount</h5><h4><strong><span id="result_sub_total">Total &euro;@total.ToString("N")</span></strong></h4></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td colspan="2" class="hidden-xs"></td>
                        @if (radio3 == "checked")
                        {
                            <td colspan="5" class="hidden-xs text-center"><h5>with discount</h5><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                        }
                        else if (radio4 == "checked")
                        {
                            <td colspan="5" class="hidden-xs text-center"><h5>with discount</h5><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                        }
                        else if (radio5 == "checked")
                        {
                            <td colspan="5" class="hidden-xs text-center"><h5>with discount</h5><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                        }
                        else if (radio6 == "checked")
                        {
                            <td colspan="5" class="hidden-xs text-center"><h5>with discount</h5><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.totalPrice.ToString("N")</span></strong></h4></td>
                        }
                    </tr>
                    <tr>
                        <td colspan="3" class="hidden-xs"></td>


                        @if (user.points >= 100 && user.points < 500 && ViewBag.totalPrice < 100)
                        {
                        <td>
                            <h5><strong>points: @user.points</strong></h5>
                            <input type="radio" name="discount" value="nothing" id="pointradio1" onclick="DiscountValue(this.value, this.id)" @radio1> No discount<br>
                            <input type="radio" name="discount" value="free_shipping" id="pointradio2" onclick="DiscountValue(this.value, this.id)" @radio2>  Free Shipping (100 points)<br>
                        </td>
                        }
                        else if (user.points >= 500 && user.points < 900 && ViewBag.totalPrice < 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" onclick="DiscountValue(this.value, this.id)" @radio1> No discount<br>
                                <input type="radio" name="discount" value="free_shipping" id="pointradio2" onclick="DiscountValue(this.value, this.id)" @radio2>  Free Shipping (100 points)<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" onclick="DiscountValue(this.value, this.id)" @radio3>  5 % off (500 points)<br>
                            </td>
                        }
                        else if (user.points >= 900 && user.points < 1250 && ViewBag.totalPrice < 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" onclick="DiscountValue(this.value, this.id)" @radio1> No discount<br>
                                <input type="radio" name="discount" value="free_shipping" id="pointradio2" onclick="DiscountValue(this.value, this.id)" @radio2>  Free Shipping (100 points)<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" onclick="DiscountValue(this.value, this.id)" @radio3>  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" onclick="DiscountValue(this.value, this.id)" @radio4>  10 % off (900 points)<br>
                            </td>
                        }
                        else if (user.points >= 1250 && user.points < 1500 && ViewBag.totalPrice < 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" onclick="DiscountValue(this.value, this.id)" @radio1> No discount<br>
                                <input type="radio" name="discount" value="free_shipping" id="pointradio2" onclick="DiscountValue(this.value, this.id)" @radio2>  Free Shipping (100 points)<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" onclick="DiscountValue(this.value, this.id)" @radio3>  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" onclick="DiscountValue(this.value, this.id)" @radio4>  10 % off (900 points)<br>
                                <input type="radio" name="discount" value="fifteen_discount" id="pointradio5" onclick="DiscountValue(this.value, this.id)" @radio5>  15 % off (1250 points)<br>
                            </td>
                        }
                        else if (user.points >= 1500 && ViewBag.totalPrice < 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" onclick="DiscountValue(this.value, this.id)" @radio1> No discount<br>
                                <input type="radio" name="discount" value="free_shipping" id="pointradio2" onclick="DiscountValue(this.value, this.id)" @radio2>  Free Shipping (100 points)<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" onclick="DiscountValue(this.value, this.id)" @radio3>  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" onclick="DiscountValue(this.value, this.id)" @radio4>  10 % off (900 points)<br>
                                <input type="radio" name="discount" value="fifteen_discount" id="pointradio5" onclick="DiscountValue(this.value, this.id)" @radio5>  15 % off (1250 points)<br>
                                <input type="radio" name="discount" value="twenty_discount" id="pointradio6" onclick="DiscountValue(this.value, this.id)" @radio6>  20 % off (1500 points)<br>
                            </td>
                        }
                        else if (user.points >= 500 && user.points < 900 && ViewBag.totalPrice > 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" @radio1 onclick="DiscountValue(this.value, this.id)"> No discount<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" @radio3 onclick="DiscountValue(this.value, this.id)">  5 % off (500 points)<br>
                            </td>
                        }
                        else if (user.points >= 900 && user.points < 1250 && ViewBag.totalPrice > 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" @radio1 onclick="DiscountValue(this.value, this.id)"> No discount<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" @radio3 onclick="DiscountValue(this.value, this.id)">  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" @radio4 onclick="DiscountValue(this.value, this.id)">  10 % off (900 points)<br>
                            </td>
                        }
                        else if (user.points >= 1250 && user.points < 1500 && ViewBag.totalPrice > 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" @radio1 onclick="DiscountValue(this.value, this.id)"> No discount<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" @radio3 onclick="DiscountValue(this.value, this.id)">  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" @radio4 onclick="DiscountValue(this.value, this.id)">  10 % off (900 points)<br>
                                <input type="radio" name="discount" value="fifteen_discount" id="pointradio5" @radio5 onclick="DiscountValue(this.value, this.id)">  15 % off (1250 points)<br>
                            </td>
                        }
                        else if (user.points >= 1500 && ViewBag.totalPrice > 100)
                        {
                            <td>
                                <h5><strong>points: @user.points</strong></h5>
                                <input type="radio" name="discount" value="nothing" id="pointradio1" @radio1 onclick="DiscountValue(this.value, this.id)"> No discount<br>
                                <input type="radio" name="discount" value="five_discount" id="pointradio3" @radio3 onclick="DiscountValue(this.value, this.id)">  5 % off (500 points)<br>
                                <input type="radio" name="discount" value="ten_discount" id="pointradio4" @radio4 onclick="DiscountValue(this.value, this.id)">  10 % off (900 points)<br>
                                <input type="radio" name="discount" value="fifteen_discount" id="pointradio5" @radio5 onclick="DiscountValue(this.value, this.id)">  15 % off (1250 points)<br>
                                <input type="radio" name="discount" value="twenty_discount" id="pointradio6" @radio6 onclick="DiscountValue(this.value, this.id)">  20 % off (1500 points)<br>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td colspan="5" class="hidden-xs"></td>
                        @if (ViewBag.count > 0 && ViewBag.totalPrice > 2.95)
                        {
                            <!--<td style="margin-left:50%"><button type="submit" class="btn btn-success btn-block">Check out</button></td>-->
                            <td data-toggle="modal" href="#normalModal" class="btn btn-success btn-block">Check out</td>
                        }
                    </tr>
                </tfoot>
            }
            else
            {
                @if (ViewBag.cart != null)
                {
                    @foreach (var item in ViewBag.cart)
                    {
                        <tbody>
                            <tr>
                                <td data-th="Products">
                                    <div class="row" style="margin-left: 0px">
                                        <a onclick="@("window.location.href=' " + Url.Action("ProductDetail", "ProductDetail", new { id = item.item_id}) + " ' ");"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;cursor:pointer;" /></a>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">@item.description</h4>
                                            <p>@item.long_description</p>
                                        </div>
                                    </div>
                                </td>

                                <script>
                                    function checkGreaterStock(qty, which, stock) {
                                        if (qty > stock) {
                                            document.getElementById("_data_qty_" + which).value = stock;
                                        }
                                        else if (qty < 1) {
                                            document.getElementById("_data_qty_" + which).value = 1;
                                        }
                                    }
                                </script>

                                <td data-th="Quantity">
                                    <input type="number"
                                           min="1"
                                           max="@item.stock"
                                           id="_data_qty_@item.id"
                                           onkeydown="testForEnter();"
                                           onchange="UpdateQtyOrderSession(@item.id , this.value)"
                                           class="form-control"
                                           value="@item.quantity"
                                           oninput="checkGreaterStock(this.value, @item.id , @item.stock)"
                                           required>

                                <td data-th="Price">&euro; @{ var price = (item.price); } @{ @price.ToString("N")}</td>

                                <td data-th="Subtotal" class="text-center"><span id="_data_subtotal_@item.id"> &euro;  @{var total = (item.price * item.quantity); } @{ @total.ToString("N") } </span></td>

                                <td>
                                    @Html.ActionLink("Remove product", "Remove", "ShoppingCart",
                                                            routeValues: new
                                                            {
                                                                item_id = item.item_id
                                                            },
                                                            htmlAttributes: new { @class = "btn btn-danger btn-block" })
                                </td>
                            </tr>
                        </tbody>
                    }
                }
                <tfoot>
                    <tr>
                        <td colspan="2" class="hidden-xs"></td>
                        @if (ViewBag.cart != null)
                        {
                            @if (ViewBag.total < 100 && ViewBag.total > 2.95)
                            {
                                <td class="hidden-xs text-center"><h5>if you buy €100,- or more your shipping costs will be free </h5></td>
                                <td colspan="2" class="hidden-xs text-center"><h5>shipping costs = €2.95</h5> <h4><strong>Total = &euro;@ViewBag.total.ToString("0.00")</strong></h4></td>

                            }
                            if (ViewBag.total > 100)
                            {
                                <td colspan="5" class="hidden-xs text-center"><h4><strong><span id="result_sub_total">Total &euro;@ViewBag.total.ToString("N")</span></strong></h4></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td colspan="4" class="hidden-xs"></td>
                        @if (ViewBag.cart != null && ViewBag.total > 2.95)
                        {
                            <td><a class="btn btn-success btn-block" asp-area="" asp-controller="ShoppingCart" asp-action="Checkout">Check Out</a></td>
                        }
                    </tr>
                </tfoot>
            }
        </table>

        @if (SignInManager.IsSignedIn(User))
        {
            <div id="normalModal" class="modal fade" style="top:30%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Check out</h4>
                        </div>
                        <div class="modal-body">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div style="text-align:center">
                                    <h3><b>Data</b></h3>
                                    <h4>@user.name @user.surname</h4>
                                    <h4>@user.street @user.streetnumber</h4>
                                    <h4>@user.zipcode, @user.city</h4>
                                    <h4><a asp-area="Identity" asp-page="/Account/Manage/Index" text-decoration:none;">Change Name</a></h4>
                                    <h4><a asp-area="Identity" asp-page="/Account/Manage/Address" text-decoration:none;">Change Address</a></h4>
                                </div>
                            }
                            <div id="paypal-button-container" style="text-align:center;"></div>
                            @if (ViewBag.model_view != null)
                            {
                                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                <script>
                                    var totalPrice = parseFloat("@ViewBag.price".replace(",", "."));
                                    // Render the PayPal button
                                    var refreshIntervalId = setInterval(function () {

                                        paypal.Button.render({
                                            // Set your environment
                                            env: 'sandbox', // sandbox | production

                                            // Specify the style of the button
                                            style: {
                                                layout: 'horizontal',  // horizontal | vertical
                                                size: 'large',    // medium | large | responsive
                                                shape: 'pill',      // pill | rect
                                                color: 'black'       // gold | blue | silver | white | black
                                            },

                                            // Specify allowed and disallowed funding sources
                                            //
                                            // Options:
                                            // - paypal.FUNDING.CARD
                                            // - paypal.FUNDING.CREDIT
                                            // - paypal.FUNDING.ELV
                                            funding: {
                                                allowed: [
                                                    paypal.FUNDING.CARD
                                                ],
                                                disallowed: []
                                            },

                                            // Enable Pay Now checkout flow (optional)
                                            commit: true,
                                            succes: clearInterval(refreshIntervalId),

                                            // PayPal Client IDs - replace with your own
                                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                                            client: {
                                                sandbox: 'AcXXg_AJtE3WmNiQiU81S5w2oIzdLTFfhWGLVuq6u4Q3oUu_xXTV6Zeqip_xRufDkFWCrumyLeEFO0Ag',
                                                production: '<insert production client id>'
                                            },

                                            payment: function (data, actions) {
                                                return actions.payment.create({
                                                    payment: {
                                                        transactions: [
                                                            {
                                                                amount: {
                                                                    total: totalPrice,
                                                                    currency: 'EUR',

                                                                }
                                                            }
                                                        ],
                                                    }
                                                });
                                            },

                                            onAuthorize: function (data, actions) {
                                                return actions.payment.execute()
                                                    .then(function () {
                                                        $.ajax({
                                                            type: "POST",
                                                            data: {
                                                            },

                                                            url: "/ShoppingCart/ConfirmOrder",
                                                            success: function (response) {
                                                                document.body.innerHTML = response;
                                                            },
                                                            error: function () {
                                                                return "error";
                                                            }
                                                        });
                                                        window.alert('Payment Complete! Email has been sent!')
                                                    });
                                            }
                                        }, '#paypal-button-container');
                                    }, 1000);
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        { }
    </form>
</div>

<form id="radioPost" name="discount" method="post">
    <input type="hidden" id="radioInput" name="discount" value="" />
    <input type="hidden" id="radioInput2" name="id" value="" />
    <input type="submit" style="opacity:0" />
</form>
<script>
    var discounted = "";
    var form = document.getElementById('radioPost');
    function DiscountValue(discount, id) {
        document.getElementById('radioInput').value = discount;
        document.getElementById('radioInput2').value = id;
        form.submit();
    }
</script>

@if (ViewBag.count == 0 && ViewBag.cart == null)
{
    <center>
        <h1>
            <span>Your shoppingcart is empty</span>
        </h1>
    </center>
}