@model List<bytme.Models.OrderHistory>

<a style="color:#B388B8" asp-controller="ShoppingCart" asp-action="OrderHistory">Go back</a>

<style type="text/css">
    tr.hide_all {
        border-style: hidden;
    }
</style>

<h2>Your order details</h2>

<h3><center><strong>Address:</strong></center></h3>
@for (var i = 0; i < 1; i++)
{
    <h4><center>@Model[i].street @Html.DisplayFor(model => Model[i].streetnumber)</center></h4>
    <h4><center>@Html.DisplayFor(model => Model[i].zipcode), @Html.DisplayFor(model => Model[i].city)</center></h4>
    <br />
}

@for (var i = 0; i < Model.Count; i++)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Product
                </th>
                <th>
                    <center>
                        Quantity bought
                    </center>
                </th>
                <th>
                    <center>
                        Price
                    </center>
                </th>
                <th>
                    <center>
                        Subtotal
                    </center>
                </th>
            </tr>
        </thead>
        @{ float totalitem = 0; }
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ord_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].item_description)
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => Model[i].qty_bought)
                    </center>
                </td>
                <td>
                    <center>
                        &euro;@Html.DisplayFor(modelItem => Model[i].price_payed)
                    </center>
                </td>
                <td>
                    <center>
                        @{var countitem = (@Model[i].price_payed * Model[i].qty_bought);} &euro;@countitem.ToString("N")
                    </center>
                </td>


                @{totalitem += countitem; }

            </tr>
        </tbody>

        <tfoot>
            <tr>
                @if (totalitem < 100)
                {
                    totalitem += 2.95f;
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>shipping costs: </strong> &euro;2,95</center></td>
                <tr class="hide_all">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>Total: </strong>&euro;@totalitem.ToString("N")</center></td>
                </tr>
                }
                else
                {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><center><strong>Total: </strong>&euro;@totalitem.ToString("N")</center></td>
                }
                </tr>
                <tr>
                    @if (Model[i].discount == "nothing" || Model[i].discount == null)
                    {
                        if (totalitem < 100)
                        {
                            totalitem += 2.95f;
                            if (totalitem > 50 && totalitem < 75)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 100 points </center></td>
                            }
                            if (totalitem > 75 && totalitem < 100)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 150 points </center></td>
                            }
                            if (totalitem > 100)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 200 points </center></td>
                            }
                        }
                        else
                        {
                            if (totalitem > 100 && totalitem < 150)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 200 points </center></td>
                            }
                            if (totalitem > 150 && totalitem < 200)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 300 points </center></td>
                            }
                            if (totalitem > 200 && totalitem < 300)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 500 points </center></td>
                            }
                            if (totalitem > 300 && totalitem < 500)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> 750 points </center></td>
                            }
                            if (totalitem > 500)
                            {
                                int points_gotten = 1000;
                                float extra_points = totalitem - 500;
                                extra_points = extra_points / 2;
                                int points_you_gone_get = (int)extra_points;
                                points_gotten += points_you_gone_get;
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><center><strong>VIP points added: </strong> @points_gotten points </center></td>
                            }
                        }
                    }
                    else if (Model[i].discount == "free_shipping")
                    {
                        totalitem -= 2.95f;
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>VIP points used: </strong> 100 points </center></td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>Price after discount: </strong> &euro;@totalitem.ToString("N") </center></td>
                    </tr>
                    }
                    else if (Model[i].discount == "five_discount")
                    {
                        totalitem *= 0.95f;
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>VIP points used: </strong> 500 points </center></td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>Price after discount: </strong> &euro;@totalitem.ToString("N") </center></td>
                    </tr>
                    }
                    else if (Model[i].discount == "ten_discount")
                    {
                        totalitem *= 0.90f;
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>VIP points used: </strong> 900 points </center></td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>Price after discount: </strong> &euro;@totalitem.ToString("N") </center></td>
                    </tr>
                    }
                    else if (Model[i].discount == "fifteen_discount")
                    {
                        totalitem *= 0.85f;
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>VIP points used: </strong> 1250 points </center></td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>Price after discount: </strong> &euro;@totalitem.ToString("N") </center></td>
                    </tr>
                    }
                    else if (Model[i].discount == "twenty_discount")
                    {
                        totalitem *= 0.80f;
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><center><strong>Price after discount: </strong> 1500 points </center></td>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><center><strong>VIP points used: </strong> &euro;@totalitem.ToString("N") </center></td>
                    </tr>
                    }
                    </tr>
                    </tfoot>
                </table>
                    }