@model bytme.Models.Item

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string qtychangeid = "q0";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<style>
    body {
        background: #fff;
        font-family: "Open Sans";
        font-weight: 300;
    }
    /* ToolTip CSS classses */
    .tooltip {
        background-color: white !important;
        border-radius: 3%;
        border: 1px solid #ddd;
    }
    .tooltip-arrow {
        color: #C7B5C9 !important;
        border-bottom-color : #C7B5C9;
    }
    .tooltip.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #C7B5C9;
    }
    .tooltip-inner {
        color: black !important;
        background-color: white !important;
    }
    h1.product-page {
        font-weight: 800;
        margin: 0 0 20px;
        padding: 0;
        font-size: 26px;
        color: #8f6b93;
    }

    h2.product-page {
        font-weight: 800;
        margin: 0 0 20px;
        padding: 0;
        font-size: 18px;
        color: #1bb0ce;
    }

    p {
        margin: 0 0 20px;
        padding: 0;
    }

        p.product-info-meta {
            margin: 0;
        }

        p.product-body {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
        }

    .padding {
        padding: 20px;
    }

    .product-container {
        margin: 0 0 20px;
    }

    .product-left-container {
        width: 542px;
        float: left;
    }

    .product-col-container {
        width: 360px;
        padding: 20px;
        min-height: 200px;
        float: left;
    }

    .main-product-container .product-left-container {
        background: #fff;
        min-height: 440px;
    }

    .main-product-container .product-col-container {
        background: #fafafa;
        min-height: 440px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        width: 359px;
    }

    .quantity {
        height: 40px;
        line-height: 38px;
        float: left;
        border: 1px solid #ddd;
        display: inline-block;
        padding: 0 20px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }

    button {
        display: inline-block;
        border-left: 0;
        margin: 0;
        float: left;
        height: 40px;
        border: 1px solid #ddd;
        padding: 0 20px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }

    .product-price {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        background: #fff;
    }

    .product-price-meta {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
    }

    .price {
        color: #8f6b93;
        font-weight: 800;
    }

    .old-price {
        text-decoration: line-through;
        font-weight: 400;
        color: #888;
        display: inline-block;
        margin: 0 5px 0;
    }

    .wishlist > a {
        font-size: 25px;
        color: #8F6B93;
    }

        .wishlist > a:hover {
            color: rgba(143, 107, 147, .6);
            text-decoration: none;
        }

    .wishlist {
        text-align: end;
    }

    .heart:after {
        font-family: "Glyphicons Halflings";
        content: "\e143";
        font-size: 25px;
        text-align: end;
    }

    .container {
    }
</style>

<script language="javascript">
    function testForEnter() {
        if (event.keyCode == 13) {
            event.cancelBubble = true;
            event.returnValue = false;
        }
    }
</script>

<script 
        src="~/lib/jquery/dist/jquery.min.js">
</script>
<script>
    jQuery(function ($) {
        $("a.swapHeart").on("click", function (e) {
            $(this).toggle();
            $(this).siblings("a.swapHeart").toggle();
        });
    });
</script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        }
        else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
<script>
    function AddToWishList(item_id) {
        $.ajax({
            type: "POST",
            data: {
                itm_id: item_id
            },
            url: "/WishList/AddToWishList",
            success: function (data) {
                $("#snackbar").text('Added to favorites!');
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", " "); }, 3000);
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    var quantity = 1;
    function setQtySession(qty) {
        quantity = qty;
        if (quantity <= 0) { quantity = 1}
    }
    function AddToCartSession(itm_id) {
        $.ajax({
            type: "POST",
            data: {
                item_id: itm_id
                , qty: quantity

            },
            url: "/ShoppingCart/SaveItemsSession",
            success: function (data) {
                $('#modelWindowShop').modal('show');
            },
            error: function () {
                return "error";
            }
        });
    }
</script>


<script>
    var quantity = 1;
    function setQty(qty) {
        quantity = qty;
        if (quantity <= 0) { quantity = 1}
    }
    function AddToCart(itm_id) {
        $.ajax({
            type: "POST",
            data: {
                item_id: itm_id
                , qty: quantity
            },
            url: "/ShoppingCart/SaveItemInShoppingCart",
            success: function (data) {
                $('#modelWindowShop').modal('show');
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    var jqid = "#";
    var oldjqid = "#";
    function stockChecker(id, stock) {
        //id management (set current tooltip and destroy the previous one if it existed)
        oldjqid = jqid;
        jqid = "#" + id;

        if (oldjqid != "#" && oldjqid != jqid) {
            $(oldjqid).tooltip('destroy');
        }

        //apply changes to selected qty if it exceeds stock and also notify the user of why its not possible to order this much
        if (document.getElementById(id).value > stock) {
            document.getElementById(id).value = stock;
            $(jqid).tooltip({
                title: "Cannot be greater than stock",
                placement: "bottom"
            });
            $(jqid).tooltip('show');
        }
        else {
            if (jqid != "#") {
                $(jqid).tooltip('destroy');
            }
        }
    }
    function nullchecker(id) {
        if (document.getElementById(id).value < 1) {
            document.getElementById(id).value = 1;
        }
    }
</script>

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" type="text/css">
</head>
<body>
    <div class="container">
        <div class="top-right">
            <a href="javascript:void(0);" onclick="history.go(-1);" style="color:#8f6b93; text-align: right;">← GO BACK</a>
        </div>
        <hr />
        <div class="product-container main-product-container">
            <div class="product-left-container">
                <img style="width:400px;" src="@Html.DisplayFor(o => o.photo_url)" />
            </div>

            <div class="product-col-container">
                <p class="product-info-meta">Product</p>
                <h1 class="product-page">@Html.DisplayFor(o => o.description)</h1>
                <p>
                    <b>@Html.DisplayFor(o => o.long_description)</b><br />
                    All products sold on our website are genuine. We only trade with reputable manufacturers who provide the highest quality of products. We do not sell fake, counterfeit, or replica goods.
                </p>

                <p class="product-price">
                    <b>Price:</b>
                    <span class="price">&euro;@Html.DisplayFor(o => o.price)</span>

                    <span class="product-price-meta" style="float:right;">
                        Free returns
                    </span>
                </p>
                <script>
                    function stockChecker(qty, which, stock) {
                        if (qty > stock) {
                            document.getElementById(which).value = stock;
                            $(".qtyinput").tooltip({ title: "Cannot be greater than stock", placement: "bottom" });
                            $(".qtyinput").tooltip('show');
                            window.setTimeout(executetooltip66, 2000);
                        }
                        
                    }
                    function nullchecker(qty, which) {
                        if (qty < 1) {
                            document.getElementById(which).value = 1;
                        }
                    }
                    function executetooltip66() {
                        $(".qtyinput").tooltip("destroy");
                    }
                </script>
                <p>
                    <span class="quantity">Stock: @Html.DisplayFor(o => o.quantity)</span>
                    @{qtychangeid = Model.id.ToString();
                        qtychangeid = "q" + qtychangeid; }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        bool wishlist = ViewBag.Wishlist.Contains(Model.id);
                        <div style="width: 100%" align="right">
                            <div style="float:right">
                                <a onclick="AddToCart(@Model.id)" class="btn btn-default" data-target="#modelWindowShop">
                                    <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </div>
                            <div style="float:right; width: 30%">
                                <input id="@Model.id" onkeydown="testForEnter()" class="form-control qtyinput" type="number" max="@Model.quantity" oninput="stockChecker(this.value, this.id, @Model.quantity)" onchange="setQtySession(this.value); nullchecker(this.value, this.id)" value="1" required />
                            </div>
                        </div>
                        <br />
                        <br />
                        <div align="right">
                            <a onclick="RemoveFromWishList(@ViewBag.OrderLine)" class="btn btn-default swapHeart"
                               style="@(wishlist ? "" : "display:none")">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart"></span>
                            </a>
                            <a onclick="AddToWishList(@Model.id)" class="btn btn-default swapHeart"
                               style="@(wishlist ? "display:none" : "")">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div style="width: 100%" align="right">
                            <div style="float:right">
                                <a onclick="AddToCartSession(@Model.id)" class="btn btn-default" data-target="#modelWindowShop">
                                    <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </div>
                            <div style="float:right; width: 30%">
                                <input id="@Model.id" onkeydown="testForEnter()" class="form-control qtyinput" type="number" max="@Model.quantity" oninput="stockChecker(this.value, this.id, @Model.quantity)" onchange="setQtySession(this.value); nullchecker(this.value, this.id)" value="1" required />
                            </div>
                        </div>
                    }
                </p>
                <div id="snackbar"></div>
                <div class="modal fade" id="modelWindowShop" style="top:40%" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 style="text-align:center;" class="modal-title">Added to the shopping cart!</h4>
                            </div>
                            <div class="modal-body">
                                <p style="text-align:center;">The product is added to your shopping cart!</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default pull-left" href="/Shoppingcart" role="button">Go to your cart</a>
                                <button type="button" data-dismiss="modal" class="btn btn-default" style="float: right; background-color:#8F6B93;color:white;border:none;">Continue shopping</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
