@model bytme.Models.Item

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<style>
    body {
        background: #fff;
        font-family: "Open Sans";
        font-weight: 300;
    }

    h1.product-page {
        font-weight: 800;
        margin: 0 0 20px;
        padding: 0;
        font-size: 26px;
        color: #8f6b93;
    }

    h2.product-page {
        font-weight: 800;
        margin: 0 0 20px;
        padding: 0;
        font-size: 18px;
        color: #1bb0ce;
    }

    p {
        margin: 0 0 20px;
        padding: 0;
    }

        p.product-info-meta {
            margin: 0;
        }

        p.product-body {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
        }

    .padding {
        padding: 20px;
    }

    .product-container {
        margin: 0 0 20px;
    }

    .product-left-container {
        width: 542px;
        float: left;
    }

    .product-col-container {
        width: 360px;
        padding: 20px;
        min-height: 200px;
        float: left;
    }

    .main-product-container .product-left-container {
        background: #fff;
        min-height: 440px;
    }

    .main-product-container .product-col-container {
        background: #fafafa;
        min-height: 440px;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        width: 359px;
    }

    .quantity {
        height: 40px;
        line-height: 38px;
        float: left;
        border: 1px solid #ddd;
        display: inline-block;
        padding: 0 20px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }

    button {
        display: inline-block;
        border-left: 0;
        margin: 0;
        float: left;
        height: 40px;
        border: 1px solid #ddd;
        padding: 0 20px;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }

    .product-price {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        background: #fff;
    }

    .product-price-meta {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
    }

    .price {
        color: #8f6b93;
        font-weight: 800;
    }

    .old-price {
        text-decoration: line-through;
        font-weight: 400;
        color: #888;
        display: inline-block;
        margin: 0 5px 0;
    }

    .wishlist > a {
        font-size: 25px;
        color: #8F6B93;
    }

        .wishlist > a:hover {
            color: rgba(143, 107, 147, .6);
            text-decoration: none;
        }

    .wishlist {
        text-align: end;
    }

    .heart:after {
        font-family: "Glyphicons Halflings";
        content: "\e143";
        font-size: 25px;
        text-align: end;
    }

    .container {
    }
</style>
<script 
        src="~/lib/jquery/dist/jquery.min.js">
</script>
<script>
    jQuery(function ($) {
        $("a.swapHeart").on("click", function (e) {
            $(this).toggle();
            $(this).siblings("a.swapHeart").toggle();
        });
    });
</script>

<script>
    function AddToCart(itm_id) {

        $.ajax({
            type: "POST",
            data: {
                item_id: itm_id
            },
            url: "/ShoppingCart/SaveItemInShoppingCart",
            success: function (data) {
                $('#modelWindowShop').modal('show');
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    function AddToWishList(item_id) {
        $.ajax({
            type: "POST",
            data: {
                itm_id: item_id
            },
            url: "/WishList/AddToWishList",
            success: function (data) {
                $("#snackbar").text('Added to favorites!');
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", " "); }, 3000);
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    function RemoveFromWishList(orderline_id) {
        $.ajax({
            type: "POST",
            data: {
                ordline_id: orderline_id
            },
            url: "/WishList/RemoveFromWishList",
            success: function (data) {
                $("#snackbar").text('Removed from favorites!');
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", " "); }, 3000);
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<script>
    function AddToCartSession(itm_id) {

        $.ajax({
            type: "POST",
            data: {
                item_id: itm_id
            },
            url: "/ShoppingCart/SaveItemsSession",
            success: function (data) {
                $('#modelWindowShop').modal('show');
            },
            error: function () {
                return "error";
            }
        });
    }
</script>

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" type="text/css">
</head>
<body>
    <div class="container">
        <div class="top-right">
            <a href="javascript:void(0);" onclick="history.go(-1);" style="color:#8f6b93; text-align: right;">← GO BACK</a>
        </div>
        <hr />
        <div class="product-container main-product-container">
            <div class="product-left-container">
                <img style="width:400px;" src="@Html.DisplayFor(o => o.photo_url)" />
            </div>

            <div class="product-col-container">
                <p class="product-info-meta">Product</p>
                <h1 class="product-page">@Html.DisplayFor(o => o.description)</h1>
                <p>
                    <b>@Html.DisplayFor(o => o.long_description)</b><br />
                    All products sold on our website are genuine. We only trade with reputable manufacturers who provide the highest quality of products. We do not sell fake, counterfeit, or replica goods.
                </p>

                <p class="product-price">
                    <b>Price:</b>
                    <span class="price">&euro;@Html.DisplayFor(o => o.price)</span>

                    <span class="product-price-meta" style="float:right;">
                        Free returns
                    </span>
                </p>

                <p>
                    <span class="quantity">Stock: @Html.DisplayFor(o => o.quantity)</span>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        bool wishlist = ViewBag.Wishlist.Contains(Model.id);

                        <div align="right" class="wishlist">
                            <a onclick="RemoveFromWishList(@ViewBag.OrderLine)" class="btn btn-default swapHeart"
                               style="@(wishlist ? "" : "display:none")">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart"></span>
                            </a>
                            <a onclick="AddToWishList(@Model.id)" class="btn btn-default swapHeart"
                               style="@(wishlist ? "display:none" : "")">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart-empty"></span>
                            </a>


                            <a onclick="AddToCart(@Model.id)" class="btn btn-default">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div align="right" class="wishlist">
                            <a onclick="AddToCartSession(@Model.id)" class="btn btn-default">
                                <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                            </div>
                            }
                    </p>
                <div id="snackbar"></div>
                <div class="modal fade" id="modelWindowShop" style="top:40%" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 style="text-align:center;" class="modal-title">Added to the shopping cart!</h4>
                            </div>
                            <div class="modal-body">
                                <p style="text-align:center;">The product is added to your shopping cart!</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default pull-left" href="/Shoppingcart" role="button">Go to your cart</a>
                                <button type="button" data-dismiss="modal" class="btn btn-default" style="float: right; background-color:#8F6B93;color:white;border:none;">Continue shopping</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>
