@model PaginatedList<bytme.Models.Item>



@{
    ViewData["Title"] = "Men";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-group row center-block" role="group">
    <hr />
    <button type="button" class="btn btn-light" style="background-color:#fff;">Blazers</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Blouses</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Jeans</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Laptop Bags</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Shirts</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Short Coats</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Suit Jackets</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Suit Pants</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Suits</button>
    <button type="button" class="btn btn-light" style="background-color:#fff;">Waist Coats</button>
</div>
<hr />

<center>
    <button>
        <a asp-action="Men" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
    </button>
</center>
<center>
    <button>
        <a asp-action="Men" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
    </button>
</center>

@foreach (var item in Model)
{
    if (item.gender == "male")
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="@item.photo_url" style="width:200px;height:300px" />
                <div class="caption">
                    <h3 class="row text-center">@item.description</h3>
                    <p class="row text-center">@item.long_description</p>
                    <p class="row text-center">>&euro;@item.price</p>
                    <center>
                    @if (item.quantity != 0)
                    {
                        @Html.ActionLink("Add to cart", "SaveItemInShoppingCart", "ShoppingCart", routeValues: new
                        {
                            item_id = item.id
                        },
                        htmlAttributes: new {@class = "btn btn-success btn-large"})
                    }
                    </center>
                    <p class="row text-center"><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></p>
                </div>
            </div>
        </div>
    }
}

<!--<nav class="text-center">
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
    </ul>
</nav>-->

<br>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Men"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Men"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
<br />