@model PaginatedList<bytme.Models.Item>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
@{
    ViewData["Title"] = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    bool isPreExist = false;
    bool isLateExist = false;
    var totalPages = Model.TotalPages;
    var pageIndex = Model.PageIndex;
    var middleNextPage = (Model.TotalPages + Model.PageIndex) / 2;
    var middlePrePage = Model.PageIndex / 2;
}
<title></title>
<style>
    .box {
        width: auto;
        margin-bottom: 0px;
    }

    .desc {
        width: 100px; /* the element needs a fixed width (in px, em, %, etc) */
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis; /* give the beautiful '...' effect */
        font-size: 10px;
    }

    .pagination {
        margin-left: 275px;
        position:page;
    }

    .shoppingcart {
        margin-top: -30px;
        text-align: end;
    }
    
    .shoppingcart > a {
            font-size: 15px;
            color: #8F6B93;
            text-decoration: none;
    }

        .shoppingcart > a:hover {
            font-size: 15px;
            color: #C7B5C9;
            text-decoration: none;
        }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
        z-index: 2;
        color: #8F6B93;
        background-color: #C7B5C9;
        border-color: #ddd;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #8F6B93;
        border-color: #8F6B93;
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #8F6B93;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .description {
        margin-top: -8px;
    }

    /*filter sidebar css*/
    [data-toggle="collapse"] {
        cursor: pointer;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .valign-middle {
        vertical-align: middle !important;
    }

    .sortBy {
        float: right;
        width: 275px;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .sortBy > .form-control:focus {
            border-color: #C7B5C9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.100), 0 0 8px rgba(143, 107, 147, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(143, 107, 147, .6);
    }

    select option:hover {
        box-shadow: 0 0 10px 10px #e1358f inset;
    }

    .prodgrid {
        float: right;
    }

    .hr {
        margin-top:auto;
    }

    .thumbnail > a > img:hover {
        opacity: .9;
    }

    .cat {
        margin-top:-10px;
    }

    .shop:after {
            font-family: "Glyphicons Halflings";
            content: "\e116";
            margin-top: -30px;
            text-align: end;
    }

    .shop:hover {
        font-size: 15px;
        color: #C7B5C9;
        text-decoration: none;
    }

</style>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste')
        {
            key = event.clipboardData.getData('text/plain');
        }
        else
        {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if (!regex.test(key))
        {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="row text-center">
        <h2>Products for '@ViewBag.Message'</h2>
        <p>@ViewBag.Count products</p>
        <div class="sortBy">
            <select class="form-control">
                <option>Recommended</option>
                <option value="@ViewData["PriceDesc"]">Price low - high</option>
                <option>Price high - low</option>
                <option>Brand A - Z</option>
                <option>Brand Z - A</option>
            </select>
        </div>
    </div>
    <hr class="hr" />


    <div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

        <div>
            <h4 class="cat" data-toggle="collapse" data-target="#group-1">
                <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                Categories
            </h4>
            <div id="group-1" class="list-group collapse in">
                <a asp-action="Products" class="list-group-item">Women</a>
                <a asp-action="Products" class="list-group-item">Men</a>
            </div>
        </div>
        <hr />
        <div>
            <h4 data-toggle="collapse" data-target="#group-2">
                <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                Brands
            </h4>
            <div id="group-2" class="list-group collapse in">
                <div class="form-group" style="overflow:scroll; height:300px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                    @foreach (var item in ViewBag.currentBrands)
                    {
                        <input class="BrandCheck" type="checkbox" name="BrandBox" value="@item" /><span style="color:#392C36"> @item</span><br>

                    }
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h4 data-toggle="collapse" data-target="#group-3">
                <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                Color
            </h4>
            <div id="group-3" class="list-group collapse in">
                <div class="form-group" style="overflow:scroll; height:150px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                    @foreach (var color in ViewBag.ColorList)
                    {
                        <input class="BrandCheck" type="checkbox" name="ColorBox" value="@color" /><span style="color:#392C36"> @color</span><br>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h4 data-toggle="collapse" data-target="#group-4">
                <i class="fa fa-fw fa-caret-down parent-expanded"></i>
                <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
                Price
            </h4>
            <div id="group-4" class="list-group collapse in">
                <div class="form-group">
                    <label for="price-min">Minimum:</label>
                    <input class="form-control" type="number" onkeypress='validate(event)' name="minPrice" id="priceMinSlider" placeholder="8" min="8" max="1500" value="@ViewBag.miniPrice" />
                </div>

                <div class="form-group">
                    <label for="priceMaxSlider">Maximum:</label>
                    <input class="form-control" type="number" onkeypress='validate(event)' name="maxPrice" id="priceMaxSlider" placeholder="1500" min="8" max="1500" value="@ViewBag.maxiPrice">
                </div>

            </div>
        </div>
        <hr />
    </div>

    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box">
            <div class="thumbnail">
                <a href="#"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;" /></a>
                <div class="desc_box">
                    <p>&euro;@item.price</p>
                    <p class="description">@item.description</p>
                    <p class="desc">@item.long_description</p>
                    <div class="shoppingcart">
                        @if (item.quantity != 0)
                        {
                            @Html.ActionLink("ADD ", "SaveItemInShoppingCart", "ShoppingCart", routeValues: new
                       {
                           item_id = item.id
                       },
                            htmlAttributes: new {@class = "shop" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }

        <div class="row text-center">
            <hr />
            <br>
            <ul class="pagination">
                <li class="@prevDisabled">
                    @if (!String.IsNullOrEmpty(prevDisabled))
                    {
                        <a href="#!">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@(Model.PageIndex - 1)" class="@prevDisabled">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    }
                </li>
                @for (int i = 1; i <= totalPages; i++)
                {
                    @if (i == pageIndex)
                    {
                        <li class="active">
                            <a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@i" class="disabled">@i</a>
                        </li>
                    }
                    else if (i > 3 && i <= (totalPages - 3))
                    {
                        if (i < pageIndex)
                        {
                            if (!isPreExist)
                            {
                                <li><a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@i">@i</a></li>
                                isPreExist = true;
                            }
                        }
                        else if (i > pageIndex)
                        {
                            if (!isLateExist)
                            {
                                <li><a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@i">@i</a></li>
                                isLateExist = true;
                            }
                        }
                        else
                        {
                            <li>
                                <a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@i">@i</a>
                        </li>
                    }
                }

                <li class="@nextDisabled">
                    @if (!String.IsNullOrEmpty(nextDisabled))
                    {
                        <a href="#!" class="@nextDisabled">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Products" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-page="@(Model.PageIndex + 1)" class="@nextDisabled">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    }
                </li>
            </ul>
            <br />
        </div>
}
else
{
    <h2 class="row text-center">There was nothing to be found here..</h2>
}