@model IEnumerable<bytme.Models.Item>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
@{
    ViewData["Title"] = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    int ie = 0;
    int pageCurrent = 2;

    List<string> colors = ViewBag.Colorschecked;
    List<string> brands = ViewBag.Brandschecked;
}
<title></title>
<style>
    .box {
        width: auto;
        margin-bottom: 0px;
    }

    .desc {
        width: 100px; /* the element needs a fixed width (in px, em, %, etc) */
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis; /* give the beautiful '...' effect */
        font-size: 10px;
    }

    .shoppingcart {
        margin-top: -30px;
        text-align: end;
    }

        .shoppingcart > a {
            font-size: 15px;
            color: #8F6B93;
            text-decoration: none;
        }

            .shoppingcart > a:hover {
                font-size: 15px;
                color: #C7B5C9;
                text-decoration: none;
            }

    .description {
        margin-top: -8px;
    }

    [data-toggle="collapse"] {
        cursor: pointer;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .valign-middle {
        vertical-align: middle !important;
    }

    select option:hover {
        box-shadow: 0 0 10px 10px #e1358f inset;
    }

    .prodgrid {
        float: right;
    }

    .hr {
        margin-top: auto;
    }

    .thumbnail > a > img:hover {
        opacity: .9;
    }

    .cat {
        margin-top: -4px;
    }

    .shop:after {
        font-family: "Glyphicons Halflings";
        content: "\e116";
        margin-top: -30px;
        text-align: end;
    }

    .shop:hover {
        font-size: 15px;
        color: #C7B5C9;
        text-decoration: none;
    }

    #filter-sidebar {
        position: sticky;
        top: 0;
    }

    .sortby {
        margin-top:-60px;
    }
    input[type="submit"] {
        text-align: start;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        width: 100%;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: white;
        border: 1px solid transparent;
    }

        input[type="submit"]:hover {
            background: #ddd;
        }
</style>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        }
        else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
<script>
    //submit data with jQuery AJAX
    function submit() {
        var data = {
            TextBoxStringData: $('#text').val(),
            TextBoxIntData: $('#number').val(),
            CheckboxData: $('#checkbox').is(':checked')
        };
</script>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
<div class="row text-center">
    <h2>Products for '@ViewBag.Message'</h2>
    <p>@ViewBag.Count products</p>
    <hr class="hr" />        
            
        </div>
    
    
    <div class="container" id="filter-sidebar">
        <form asp-action="Products" id="products" name="products">
            
            <script>
                var form = document.getElementById("products");
                function executeform66() {
                    form.submit()
                }
            </script>
            <select class="form-control pull-right" form="products" id="sortBy" name="sortBy" style="width:20%; height:40px; margin-right:2%" onchange="executeform66()">
                <option value="" disabled selected hidden>@ViewBag.currentSort</option>
                <option value="Name A - Z">Name A - Z</option>
                <option value="Name Z- A">Name Z- A</option>
                <option value="Price Low - High">Price Low - High</option>
                <option value="Price High - Low">Price High - Low</option>
            </select>
            <input type="hidden" id="SelectIndex" name="currentSort" value="@ViewBag.currentSort" />
            <br /><br /><br />
            <div class="row">
                <div class="col-lg-3">


                    <input type="hidden" name="searchString" value="@ViewBag.Message" />
                    <div class="form-group-lg row center-block" role="group">
                        <h4 class="cat" data-toggle="collapse" data-target="#group-1">Categories</h4>
                        <div id="group-1" class="list-group collapse in">
                            <span></span>
                            @if (ViewBag.Gender == null)
                            {
                                <input class="btn-light" type="submit" name="gender" value="Women" />
                                <input class="btn-light" type="submit" name="gender" value="Men" />
                                <br />
                            }
                            @if (ViewBag.Gender == "Men")
                            {
                                <input type="submit" name="category" class=" btn-light" value="All"><br />
                                <input type="submit" name="category" class=" btn-light" value="Shirts"><br />
                                <input type="submit" name="category" class=" btn-light" value="Blazer Jackets"><br />
                                <input type="submit" name="category" class=" btn-light" value="T-shirts"><br />
                                <input type="submit" name="category" class=" btn-light" value="Short Coats"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suit Jackets"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suit Pants"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suits"><br />
                                <input type="submit" name="category" class=" btn-light" value="Waist Coats"><br />
                                <input type="submit" name="category" class=" btn-light" value="Briefcases"><br />
                                <input type="submit" name="category" class=" btn-light" value="Laptop Bags"><br />
                                <input type="hidden" name="gender" value="@ViewBag.Gender" />
                                <input type="hidden" name="currentCategory" value="@ViewBag.currentCategory" />
                            }
                            @if (ViewBag.Gender == "Women")
                            {
                                <input type="submit" name="category" class="btn btn-light" value="All"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Blazers"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Blouses"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Boots"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Coats"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Cardigans"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Dresses"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Heels"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Jumpers"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Skirts"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Trousers"><br />
                                <input type="hidden" name="gender" value="@ViewBag.Gender" />
                                <input type="hidden" name="currentCategory" value="@ViewBag.currentCategory" />
                            }
                        </div>
                        <hr />
                        <div>
                            <h4 data-toggle="collapse" data-target="#group-2">Brands</h4>
                            <div id="group-2" class="list-group collapse in">
                                <div class="form-group" style="overflow:scroll; height:300px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                                    <input type="hidden" name="currentBrands" value="@ViewBag.currentBrands" />
                                    @foreach (var item in ViewBag.currentBrands)
                                    {
                                        if (brands.Count() != 0)
                                        {
                                            if (brands.Contains(item))
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" checked /><label for="@item" style="color:#392C36"> @item</label><br>
                                            }
                                            else
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" /><label for="@item" style="color:#392C36"> @item</label><br>
                                            }
                                        }
                                        else if (brands.Count() == 0)
                                        {
                                            <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" /><label for="@item" style="color:#392C36"> @item</label><br>
                                        }


                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <h4 data-toggle="collapse" data-target="#group-3">Color</h4>
                            <div id="group-3" class="list-group collapse in">
                                <div class="form-group" style="overflow:scroll; height:150px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                                    @foreach (var color in ViewBag.ColorList)
                                    {
                                        if (colors.Count() != 0)
                                        {
                                            @if (colors.Contains(color))
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" checked /><label for="@color" style="color:#392C36"> @color</label><br>
                                            }
                                            else
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" /><label for="@color" style="color:#392C36"> @color</label><br>
                                            }


                                        }
                                        else if (colors.Count() == 0)
                                        {
                                            <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" /><label for="@color" style="color:#392C36"> @color</label><br>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                        <script>
                            function PriceChecker() {
                                if (document.getElementByName('maxPrice').value <= document.getElementsById('minPrice').value) {
                                    var difference = document.getElementsById('minPrice').value - document.getElementsById('maxPrice').value + 1;
                                    document.getElementsById('maxPrice').value = document.getElementsById('maxPrice').value - difference;
                                }

                            }
                            function validate(evt) {
                                var theEvent = evt || window.event;

                                if (theEvent.type === 'paste') {
                                    key = event.clipboardData.getData('text/plain');
                                }
                                else {
                                    var key = theEvent.keyCode || theEvent.which;
                                    key = String.fromCharCode(key);
                                }
                                var regex = /[0-9]/;
                                if (!regex.test(key)) {
                                    theEvent.returnValue = false;
                                    if (theEvent.preventDefault) theEvent.preventDefault();
                                }
                            }
                        </script>
                        <div>
                            <h4 data-toggle="collapse" data-target="#group-4">Price</h4>
                            <div id="group-4" class="list-group collapse in">
                                <div class="form-group">
                                    <label for="price-min">Minimum:</label>
                                    <input class="form-control" type="number" onkeypress='validate(event)' oninput="PriceChecker()" name="minPrice" id="priceMinSlider" placeholder="8" min="8" max="1500" value="@ViewBag.miniPrice" required />
                                </div>

                                <div class="form-group">
                                    <label for="priceMaxSlider">Maximum:</label>
                                    <input class="form-control" type="number" onkeypress='validate(event)' oninput="PriceChecker()" name="maxPrice" id="priceMaxSlider" placeholder="1500" min="8" max="1500" value="@ViewBag.maxiPrice" required>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" style="background-color: #5cb85c; border-color: #4cae4c; width:50%" />
                    </div>
                    <hr />
                    <br />

                </div>

                <div class="col-lg-9">
                    @foreach (var item in Model)
                    {
                        @if (ie++ < 21)
                        {
                            <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box" id="page_@i _@ie" style="width:33%">
                                <div class="thumbnail">
                                    <a href="#"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;" /></a>
                                    <div class="desc_box">
                                        <p>&euro;@item.price</p>
                                        <p class="description">@item.description</p>
                                        <p class="desc">@item.long_description</p>
                                        <div class="shoppingcart">
                                            @if (item.quantity != 0)
                                            {
                                                @Html.ActionLink("ADD ", "SaveItemInShoppingCart", "ShoppingCart", routeValues: new
                                           {
                                               item_id = item.id
                                           },
                                                htmlAttributes: new { @class = "shop" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (ie == 22) { i++; }

                        if (ie <= 21 * i && ie >= 22)
                        {
                            <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box" id="page_@i _@ie" style="display:none;width:33%">
                                <div class="thumbnail">
                                    <a href="#"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;" /></a>
                                    <div class="desc_box">
                                        <p>&euro;@item.price</p>
                                        <p class="description">@item.description</p>
                                        <p class="desc">@item.long_description</p>
                                        <div class="shoppingcart">
                                            @if (item.quantity != 0)
                                            {
                                                @Html.ActionLink("ADD ", "SaveItemInShoppingCart", "ShoppingCart", routeValues: new
                                           {
                                               item_id = item.id
                                           },
                                                htmlAttributes: new { @class = "shop" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (ie == 21 * i) { i++; }
                        }
                    }

                    <script>
                        var pagecurr = 2;
                        function LoadMore() {
                            document.getElementById('loadmore').innerHTML = "Loading...";
                            for (l = (21 * (pagecurr - 1)) + 1; l < (21 * pagecurr) + 1; l++) {
                                var iddef = "page_" + pagecurr + " _" + l;
                                var page = document.getElementById(iddef);
                                if (page != null) { page.style.display = "block"; }
                            }
                            document.getElementById('loadmore').innerHTML = "Load more products..";
                            pagecurr = pagecurr + 1;
                        }
                    </script>
                    <button id="loadmore" type="button" class="btn" onclick="LoadMore()" style="margin-left:0%; width:100%" value="1">Load more products..</button>
                </div>


            </div>
        </form>
    </div>

}
else
{
    <h2 class="row text-center">There was nothing to be found here..</h2>
}
