@model IEnumerable<bytme.Models.Item>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@{
    ViewData["Title"] = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    int ie = 0;

    List<string> colors = ViewBag.Colorschecked;
    List<string> brands = ViewBag.Brandschecked;
    List<int> Pager = ViewBag.Pager;
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<style>
    .box {
        width: auto;
        margin-bottom: 0px;
    }

    .desc {
        width: 100px; /* the element needs a fixed width (in px, em, %, etc) */
        overflow: hidden; /* make sure it hides the content that overflows */
        white-space: nowrap; /* don't break the line */
        text-overflow: ellipsis; /* give the beautiful '...' effect */
        font-size: 10px;
    }

    .pagination {
        margin-left: 275px;
        position: page;
    }

    .shoppingcart {
        margin-top: -30px;
        text-align: end;
    }

        .shoppingcart > a {
            font-size: 15px;
            color: #8F6B93;
            text-decoration: none;
        }

            .shoppingcart > a:hover, .wishlist > a:hover {
                color: #C7B5C9;
                text-decoration: none;
            }

    .description {
        margin-top: -8px;
    }

    /*filter sidebar css*/
    [data-toggle="collapse"] {
        cursor: pointer;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .valign-middle {
        vertical-align: middle !important;
    }


    .sortBy {
        float: right;
        width: 275px;
        margin-bottom: 10px;
        margin-top: -40px;
    }

        .sortBy > .form-control:focus {
            outline: none;
            border-color: #C7B5C9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.100), 0 0 8px rgba(143, 107, 147, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(143, 107, 147, .6);
        }

    select option:hover {
        box-shadow: 0 0 10px 10px #e1358f inset;
    }

    .prodgrid {
        float: right;
    }

    .hr {
        margin-top: auto;
    }

    .thumbnail > a > img:hover {
        opacity: .9;
    }

    .cat {
        margin-top: -10px;
    }

    .shop:after {
        font-family: "Glyphicons Halflings";
        content: "\e116";
        margin-top: -30px;
        text-align: end;
    }

    .shop:hover {
        font-size: 15px;
        color: #C7B5C9;
        text-decoration: none;
    }

    .heart:after {
        font-family: "Glyphicons Halflings";
        content: "\e143";
        margin-top: -30px;
        text-align: end;
    }

    input[type="submit"] {
        text-align: start;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        width: 100%;
        line-height: 1.42857143;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: white;
        border: 1px solid transparent;
    }

        input[type="submit"]:hover {
            background: #ddd;
        }

    .wishlist {
        margin-top: -45px;
        text-align: end;
    }

        .wishlist > a {
            font-size: 25px;
            color: #8F6B93;
            text-decoration: none;
        }

    input, .form-control {
        outline: none !important;
    }

        input:focus, .form-control:focus {
            background-color: #fff;
            border-color: #B388B8;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.100), 0 0 8px rgba(143, 107, 147, .6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.100), 0 0 8px rgba(143, 107, 147, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.100), 0 0 8px rgba(143, 107, 147, .6);
        }
    .btn-group button {
        background-color: #fff; /* grey background */
        border: 1px solid #fff; /* grey border */
        color: #000000; /* White text */
        border-radius: 100%;
        font-size: medium;
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        text-align:center;
        width:43.8px;
        height:43.8px;
    }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #ddd;
        border: 1px solid #ddd;
    }
</style>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        }
        else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
<script>
    //submit data with jQuery AJAX
    function submit() {
        var data = {
            TextBoxStringData: $('#text').val(),
            TextBoxIntData: $('#number').val(),
            CheckboxData: $('#checkbox').is(':checked')
        };
    }
</script>
<script src="~/lib/jquery/dist/jquery.min.js">
</script>
<script>
    jQuery(function ($) {
        $('.swapHeart').on('click', function () {
            var $el = $(this),
                textNode = this.lastChild;
            $el.find('span').toggleClass('glyphicon-heart glyphicon-heart-empty');
            $el.toggleClass('swap');
        });
    });
</script>
<script>
    function AddToWishList(item_id) {
        $.ajax({
            type: "POST",
            data: {
                itm_id: item_id
            },
            url: "/WishList/AddToWishList",
            success: function (e) {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);

            },
            error: function () {
                return "error";
            }
        });
    }
</script>
<script>
    function AddToCart(itm_id) {

        $.ajax({
            type: "POST",
            data: {
                item_id: itm_id
            },
            url: "/ShoppingCart/SaveItemInShoppingCart",
            success: function (data) {
                $('#modelWindowShop').modal('show');
            },
            error: function () {
                return "error";
            }
        });
    }
</script>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="row text-center">
        <h2>Products for '@ViewBag.Message'</h2>
        <p>@ViewBag.Count products</p>
        <hr class="hr" />

    </div>

    <div class="container">
        <form asp-action="Products" id="products" name="products">

            <script>
                var form = document.getElementById("products");
                function executeform66() {
                    form.submit()
                }
            </script>
            <div class="pull-left">
                @if (ViewBag.Gender == null)
                {
                    <a href="/" style="color:#8f6b93;text-decoration:none;margin-bottom:-50px;">Home</a><span> > a </span>
                }
                @if (ViewBag.Gender != null)
                {
                    <a asp-action="Products" asp-route-searchString="@ViewBag.Message" style="color:#8f6b93;text-decoration:none;margin-bottom:-50px;">Home > a </a><span> > @ViewBag.Gender</span>
                }
            </div>
            <select class="form-control pull-right" form="products" id="sortBy" name="sortBy" style="width:20%; height:40px; margin-right:2%" onchange="executeform66()">
                <option value="" disabled selected hidden>@ViewBag.currentSort</option>
                <option value="Name A - Z">Name A - Z</option>
                <option value="Name Z- A">Name Z- A</option>
                <option value="Price Low - High">Price Low - High</option>
                <option value="Price High - Low">Price High - Low</option>
            </select>
            <input type="hidden" id="SelectIndex" name="currentSort" value="@ViewBag.currentSort" />
            <br /><br /><br />
            <div class="row" id="sidebar">
                <div class="col-lg-3">
                    <input type="hidden" name="searchString" value="@ViewBag.Message" />
                    <div class="form-group-lg row center-block" role="group">
                        <h4 class="cat" data-toggle="collapse" data-target="#group-1">Categories</h4>
                        <div id="group-1" class="list-group collapse in">
                            <span></span>
                            @if (ViewBag.Gender == null)
                            {
                                <input class="btn btn-light" type="submit" name="gender" value="Women" />
                                <input class="btn btn-light" type="submit" name="gender" value="Men" />
                                <br />
                            }
                            @if (ViewBag.Gender == "Men")
                            {
                                <input type="submit" name="category" class=" btn-light" value="All"><br />
                                <input type="submit" name="category" class=" btn-light" value="Shirts"><br />
                                <input type="submit" name="category" class=" btn-light" value="Blazer Jackets"><br />
                                <input type="submit" name="category" class=" btn-light" value="T-shirts"><br />
                                <input type="submit" name="category" class=" btn-light" value="Short Coats"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suit Jackets"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suit Pants"><br />
                                <input type="submit" name="category" class=" btn-light" value="Suits"><br />
                                <input type="submit" name="category" class=" btn-light" value="Waist Coats"><br />
                                <input type="submit" name="category" class=" btn-light" value="Briefcases"><br />
                                <input type="submit" name="category" class=" btn-light" value="Laptop Bags"><br />
                                <input type="hidden" name="gender" value="@ViewBag.Gender" />
                                <input type="hidden" name="currentCategory" value="@ViewBag.currentCategory" />
                            }
                            @if (ViewBag.Gender == "Women")
                            {
                                <input type="submit" name="category" class="btn btn-light" value="All"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Blazers"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Blouses"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Boots"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Coats"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Cardigans"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Dresses"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Heels"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Jumpers"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Skirts"><br />
                                <input type="submit" name="category" class="btn btn-light" value="Trousers"><br />
                                <input type="hidden" name="gender" value="@ViewBag.Gender" />
                                <input type="hidden" name="currentCategory" value="@ViewBag.currentCategory" />
                            }
                        </div>
                        <hr />
                        <div>
                            <h4 data-toggle="collapse" data-target="#group-2">Brands</h4>
                            <div id="group-2" class="list-group collapse in">
                                <div class="form-group" style="overflow:scroll; height:300px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                                    <input type="hidden" name="currentBrands" value="@ViewBag.currentBrands" />
                                    @foreach (var item in ViewBag.currentBrands)
                                    {
                                        if (brands.Count() != 0)
                                        {
                                            if (brands.Contains(item))
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" checked /><label for="@item" style="color:#392C36"> @item</label><br>
                                            }
                                            else
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" /><label for="@item" style="color:#392C36"> @item</label><br>
                                            }
                                        }
                                        else if (brands.Count() == 0)
                                        {
                                            <input class="BrandCheck" type="checkbox" id="@item" name="BrandBox" value="@item" /><label for="@item" style="color:#392C36"> @item</label><br>
                                        }


                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <h4 data-toggle="collapse" data-target="#group-3">Color</h4>
                            <div id="group-3" class="list-group collapse in">
                                <div class="form-group" style="overflow:scroll; height:150px; color:#392C36; overflow-y: scroll;  overflow-x: hidden;">
                                    @foreach (var color in ViewBag.ColorList)
                                    {
                                        if (colors.Count() != 0)
                                        {
                                            @if (colors.Contains(color))
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" checked /><label for="@color" style="color:#392C36"> @color</label><br>
                                            }
                                            else
                                            {
                                                <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" /><label for="@color" style="color:#392C36"> @color</label><br>
                                            }


                                        }
                                        else if (colors.Count() == 0)
                                        {
                                            <input class="BrandCheck" type="checkbox" id="@color" name="ColorBox" value="@color" /><label for="@color" style="color:#392C36"> @color</label><br>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                        <script>
                            function PriceChecker() {
                                if (document.getElementByName('maxPrice').value <= document.getElementsById('minPrice').value) {
                                    var difference = document.getElementsById('minPrice').value - document.getElementsById('maxPrice').value + 1;
                                    document.getElementsById('maxPrice').value = document.getElementsById('maxPrice').value - difference;
                                }

                            }
                            function validate(evt) {
                                var theEvent = evt || window.event;

                                if (theEvent.type === 'paste') {
                                    key = event.clipboardData.getData('text/plain');
                                }
                                else {
                                    var key = theEvent.keyCode || theEvent.which;
                                    key = String.fromCharCode(key);
                                }
                                var regex = /[0-9]/;
                                if (!regex.test(key)) {
                                    theEvent.returnValue = false;
                                    if (theEvent.preventDefault) theEvent.preventDefault();
                                }
                            }
                        </script>
                        <div class="price">
                            <h4 data-toggle="collapse" data-target="#group-4">Price</h4>
                            <div id="group-4" class="list-group collapse in">
                                <div class="form-group">
                                    <label for="price-min">Minimum:</label>
                                    <input class="form-control" type="number" onkeypress='validate(event)' oninput="PriceChecker()" name="minPrice" id="priceMinSlider" placeholder="8" min="0" max="1500" value="@ViewBag.miniPrice" required />
                                </div>

                                <div class="form-group">
                                    <label for="priceMaxSlider">Maximum:</label>
                                    <input class="form-control" type="number" onkeypress='validate(event)' oninput="PriceChecker()" name="maxPrice" id="priceMaxSlider" placeholder="1500" min="0" max="1500" value="@ViewBag.maxiPrice" required>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-default" style="background-color: #fff; border-color: #8F6B93; width:40%" value="Apply Filters" />
                    </div>
                    <hr />
                    <br />

                </div>


                <div class="col-lg-9">

                    @foreach (var item in Model)
                    {
                        @if (ie++ < 21)
                        {
                            <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box" id="page_@i _@ie" style="width:33%">
                                <div class="thumbnail">
                                    <a onclick="@("window.location.href=' " + Url.Action("ProductDetail", "ProductDetail", new { id = item.id}) + " ' ");"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;cursor:pointer;" /></a>
                                    <div class="desc_box">
                                        <p>&euro;@item.price</p>
                                        <p class="description">@item.description</p>
                                        <p class="desc">@item.long_description</p>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <a onclick="AddToWishList(@item.id)" class="btn btn-default swap swapHeart">
                                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart-empty"></span>
                                            </a>
                                            <!--Wishlist snackbar, and yes, this is really called a snackbar-->
                                            <div id="snackbar">Added to favorites list!</div>

                                            <a onclick="AddToCart(@item.id)" class="btn btn-default">
                                                <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("", "SaveItemsSession", "ShoppingCart",
                                                                            routeValues: new
                                                                            {
                                                                                item_id = item.id
                                                                            },
                                                                            htmlAttributes: new { @class = "shoppingart glyphicon glyphicon-shopping-cart"})
                                        }
                                        <!--Shopping cart modal-->
                                        <div class="modal fade" id="modelWindowShop" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 style="text-align:center;" class="modal-title">Added to the shopping cart!</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="text-align:center;">The product is added to your shopping cart!</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-default pull-left" href="/Shoppingcart" role="button">Go to your cart</a>
                                                        <button type="button" data-dismiss="modal" class="btn btn-default " style="background-color:#8F6B93;color:white;border:none;">Continue shopping</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (ie == 22) { i++; }

                        if (ie <= 21 * i && ie >= 22)
                        {
                            <div class="col-sm-4 col-md-4 col-lg-6 col-xs-6 box" id="page_@i _@ie" style="display:none;width:33%">
                                <div class="thumbnail">
                                    <a onclick="@("window.location.href=' " + Url.Action("ProductDetail", "ProductDetail", new { id = item.id}) + " ' ");"><img src="@item.photo_url" style="width:245px;height:332px;text-align:center;cursor:pointer;" /></a>
                                    <div class="desc_box">
                                        <p>&euro;@item.price</p>
                                        <p class="description">@item.description</p>
                                        <p class="desc">@item.long_description</p>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <a onclick="AddToWishList(@item.id)" class="btn btn-default swap swapHeart">
                                                <span style="color:#8F6B93;" class="glyphicon glyphicon-heart-empty"></span>
                                            </a>
                                            <!--Wishlist snackbar, and yes, this is really called a snackbar-->
                                            <div id="snackbar">Added to favorites list!</div>

                                            <a onclick="AddToCart(@item.id)" class="btn btn-default">
                                                <span style="color:#8F6B93;" class="glyphicon glyphicon-shopping-cart"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("", "SaveItemsSession", "ShoppingCart",
                                                                            routeValues: new
                                                                            {
                                                                                item_id = item.id
                                                                            },
                                                                            htmlAttributes: new { @class = "shoppingart glyphicon glyphicon-shopping-cart"})
                                        }
                                        <!--Shopping cart modal-->
                                        <div class="modal fade" id="modelWindowShop" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 style="text-align:center;" class="modal-title">Added to the shopping cart!</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p style="text-align:center;">The product is added to your shopping cart!</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-default pull-left" href="/Shoppingcart" role="button">Go to your cart</a>
                                                        <button type="button" data-dismiss="modal" class="btn btn-default " style="background-color:#8F6B93;color:white;border:none;">Continue shopping</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (ie == 21 * i) { i++; }
                        }
                    }

                     <script>

                                    var pagecurr = 0;
                                    var initial = 1;
                                    var middle = 5;
                                    var pagecount = @ViewBag.PageCount;

                                    var oldpressed = 1;
                                    var oldidentifier = "";
                                    var newidentifier = "";



                                        function LoadMore(pressed) {

                                            if ((pressed == "<" && oldpressed == @Pager.Min()) || (pressed == ">" && oldpressed == pagecount)) { return; }
                                            if (pressed == ">") { pressed = parseInt(oldpressed) + 1; }
                                            if (pressed == "<") { pressed = parseInt(oldpressed) - 1; }
                                        if (oldpressed == 0) { document.getElementById(1).style.backgroundColor == ""; }
                                        if (oldpressed != 0) { document.getElementById(oldpressed + oldidentifier).style.backgroundColor = ""; }
                                        for (l = (21 * pagecurr) + 1; l < (21 * (pagecurr + 1)) + 1; l++) {
                                            var idder = "page_" + (pagecurr + 1) + " _" + l;
                                            var prevPage = document.getElementById(idder);
                                            if (prevPage != null) { prevPage.style.display = "none"; }
                                        }
                                        pagecurr = pressed - 1

                                        for (l = (21 * pagecurr) + 1; l < (21 * (pagecurr + 1)) + 1; l++) {
                                            var idder = "page_" + (pagecurr + 1) + " _" + l;
                                            var prevPage = document.getElementById(idder);
                                            if (prevPage != null) { prevPage.style.display = "block"; }
                                        }

                                        if (pagecount > 10) {

                                            if (pressed >= 6 && !(pressed > pagecount - 4)) {
                                                middle = pressed;
                                                var min = middle - 4;
                                                var max = middle - -4;
                                                var counter = initial;

                                                newidentifier = newidentifier + "#";
                                                for (l = min; l <= (max); l++) {
                                                    if (l <= max) {
                                                        document.getElementById(counter + oldidentifier).value = l;

                                                        document.getElementById(counter + oldidentifier).innerHTML = l;
                                                        document.getElementById(counter + oldidentifier).id = l + newidentifier;
                                                        counter++;

                                                    }
                                                }
                                                document.getElementById(pressed + newidentifier).style.backgroundColor = "#8F6B93";
                                                oldidentifier = newidentifier;
                                                initial = min;
                                                oldpressed = pressed;
                                            }
                                            else if (pressed < 6) {
                                                middle = 5;
                                                var min = middle - 4;
                                                var max = middle - -4;
                                                var counter = initial;

                                                newidentifier = newidentifier + "#";
                                                for (l = min; l <= (max); l++) {
                                                    if (l <= max) {
                                                        document.getElementById(counter + oldidentifier).value = l;

                                                        document.getElementById(counter + oldidentifier).innerHTML = l;
                                                        document.getElementById(counter + oldidentifier).id = l + newidentifier;
                                                        counter++;

                                                    }
                                                }
                                                document.getElementById(pressed + newidentifier).style.backgroundColor = "#8F6B93";
                                                oldidentifier = newidentifier;
                                                initial = min;
                                                oldpressed = pressed;
                                            }
                                            else if (pressed >= pagecount - 4) {

                                                middle = pagecount - 4;
                                                var min = middle - 4;
                                                var max = middle - -4;
                                                var counter = initial;

                                                newidentifier = newidentifier + "#";
                                                for (l = min; l <= (max); l++) {
                                                    if (l <= max) {
                                                        document.getElementById(counter + oldidentifier).value = l;

                                                        document.getElementById(counter + oldidentifier).innerHTML = l;
                                                        document.getElementById(counter + oldidentifier).id = l + newidentifier;
                                                        counter++;

                                                    }
                                                }
                                                document.getElementById(pressed + newidentifier).style.backgroundColor = "#8F6B93";
                                                oldidentifier = newidentifier;
                                                initial = min;
                                                oldpressed = pressed;
                                            }
                                        }
                                        else if (pagecount <= 10) {
                                            document.getElementById(pressed + oldidentifier).style.backgroundColor = "#8F6B93";
                                            oldpressed = pressed;

                                        }

                                    }

                    </script>
                    @*<button id="loadmore" type="button" class="btn" onclick="LoadMore()" style="margin-left:0%; width:100%" value="1">Load more products..</button>*@
                </div>
                <div class="col-lg-3">
                </div>

                <div class="col-lg-9 box btn-group" align="center" style="align-self:center;margin-left:15%">
                    <div style="float:left; height:100%;">
                        <button id="<" type="button" class="Selector btn" onclick="LoadMore(this.value)" style="margin-left:0%; background-color:initial; outline: 0;" value="<"><</button>
                    </div>

                    @foreach (var pagenr in Pager)
                    {

                        if (pagenr <= 9 && pagenr <= Pager.Max())
                        {
                            if (pagenr == 1)
                            {
                                <div style="float:left; height:100%; border-radius: 0px;">
                                    <button id="@pagenr" type="button" class="Selector btn Select_ @pagenr" onclick="LoadMore(this.value)" style="margin-left:0%; outline: 0; height: " value="@pagenr">@pagenr</button>
                                </div>
                                <script type="text/javascript">
                                    document.getElementById(1).style.backgroundColor = "#8F6B93";
                                </script>
                            }       
                            else
                            {
                                <div style="float: left; height:100%; border-radius: 0px;">
                                    <button id="@pagenr" type="button" class="Selector btn Select_ @pagenr" onclick="LoadMore(this.value)" style="margin-left:0%; outline: 0;" value="@pagenr">@pagenr</button>
                                </div>
                            }

                        }


                    }
                    <div style="float: left; height: 100%;">
                        <button id=">" type="button" class="Selector btn previous" onclick="LoadMore(this.value)" style="margin-left:0%; outline: 0; background-color:initial;" value=">">></button>
                    </div>
                </div>

            </div>
        </form>
    </div>

}
else
{
    <h2 class="row text-center">There was nothing to be found here..</h2>
}
