@model IEnumerable<bytme.Models.Item>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
@using bytme.Models;

@{
    ViewData["Title"] = "Women";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .heart:after {
        font-family: "Glyphicons Halflings";
        content: "\e143";
    }

    .wishlist {
        text-align: end;
        margin-top: -30px;
        margin-right: 80px;
    }

        .wishlist > a {
            font-size: 20px;
            color: #8F6B93;
            text-align: end;
        }

            .wishlist > a:hover {
                font-size: 20px;
                color: #C7B5C9;
                text-decoration: none;
            }
</style>

<script>
    var SliderMax;
    var SliderMin;
    function evalSliderMin() {
        var sliderValueMin = document.getElementById('priceMinSlider').value;
        document.getElementById('sliderValueMin').innerHTML = sliderValueMin;

    }
    function evalSliderMax() {
        var sliderValueMax = document.getElementById('priceMaxSlider').value;
        document.getElementById('sliderValueMax').innerHTML = sliderValueMax;
    }
    function evalSliderEquals() {
        SliderMax = document.getElementById('priceMaxSlider');
        SliderMin = document.getElementById('priceMinSlider');

        if (SliderMin.value >= SliderMax.value) {
            SliderMin.value = SliderMax.value - 1;
            document.getElementById('sliderValueMin').innerHTML = SliderMin.value;
        }
        if (SliderMax.value <= SliderMin.value) {
            SliderMax.value = SliderMin.value + 1;
            document.getElementById('sliderValueMax').innerHTML = SliderMax.value;
        }

    }
</script>

<div class="form-group-lg row center-block" role="group">

    <form asp-action="Women" method="post">
        <div class="btn-group row center-block" role="group">
            <div class="column">
                <hr />
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="All" />
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Blazers">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Blouses">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Boots">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Coats">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Cardigans">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Dresses">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Heels">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Jumpers">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Skirts">
                <input type="submit" name="category" class="btn btn-light" style="background-color:#fff;" value="Trousers">
            </div>
        </div>
        <hr />
        <h3>Categories</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h5 style="color: #8f6b93"><strong>  Type:</strong></h5>
                    <div style="border: solid 1px #8f6b93"></div>
                    <div class="form-group">
                        <label for="price-min">Minimum:</label>
                        <input class="form-control" type="number" name="minPrice" id="priceMinSlider" placeholder="8" min="8" max="1500" value="@ViewBag.miniPrice" />
                    </div>

                    <div class="form-group">
                        <label for="priceMaxSlider">Maximum:</label>
                        <input class="form-control" type="number" name="maxPrice" id="priceMaxSlider" placeholder="1500" min="8" max="1500" value="@ViewBag.maxiPrice">
                    </div>


                    <input type="hidden" name="currentCategory" value="@ViewBag.currentCategory" />
                </div>
                <div class="col-lg-4">
                    <h5 style="color:#8f6b93"><strong> Brands:</strong></h5>
                    <div style="border: solid 1px #8f6b93"></div>
                    <div class="form-group" style="overflow:scroll; height:300px; color:#392C36 ">
                        <label for=""></label>

                        <input type="hidden" name="currentBrands" value="@ViewBag.currentBrands" />

                        @foreach (var item in ViewBag.currentBrands)
                        {
                            <input class="BrandCheck" type="checkbox" name="BrandBox" value="@item" /><span style="color:#392C36">@item</span><br>

                        }
                    </div>
                </div>

                <div class="col-lg-4">
                    <h5 style="color:#8f6b93"><strong> Color:</strong></h5>
                    <div style="border: solid 1px #8f6b93"></div>
                    <div class="form-group" style="height:300px;">
                        @foreach (var color in ViewBag.ColorList)
                        {
                            <input class="BrandCheck" type="checkbox" name="ColorBox" value="@color" /><span style="color:#392C36">@color</span><br>
                        }
                    </div>
                </div>
                <button type="submit" id="submit" name="submit" class="btn btn-success pull-right">Apply Filters</button>
            </div>
        </div>
    </form>
</div>
<hr />
<br />


@foreach (var item in Model)
{
    @if (item.gender == "female")
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="@item.photo_url" style="width:200px;height:300px" />
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="wishlist">
                        @Html.ActionLink(" ", "AddToWishList", "Wishlist", routeValues: new
                   {
                       itm_id = item.id
                   },
                             htmlAttributes: new { @class = "heart" })
                    </div>
                }
                    <h3 class="row text-center" style="color:#8f6b93">@item.description</h3>
                    <p class="row text-center" style="color:#D0CACF">@item.long_description</p>
                    <p class="row text-center" style="color:#80767E">&euro;@item.price</p>
                    <div class="row text-center">
                        @if (item.quantity != 0)
                        {
                            @Html.ActionLink("Add to cart", "SaveItemInShoppingCart", "ShoppingCart", routeValues: new
                            {
                                item_id = item.id
                            },
                            htmlAttributes: new {@class = "btn btn-success btn-large"})
                        }
                    </div>
                </div>
        </div>
    }

}

<!--<nav class="text-center">
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
    </ul>
</nav>-->
