@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul > li > a {
        color: black;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
    <div>
        <h3>Admin</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a asp-controller="Manage" asp-action="Index">Users</a></li>
                    <li><a asp-controller="Manage" asp-action="Products">Products</a></li>
                    <li><a asp-controller="Statistics" asp-action="Index">Statistics</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h4>Amount of users registered per month</h4>
                    <canvas id="myChart" width="300" height="100"></canvas>
                    <script>


                        var ctx = document.getElementById('myChart').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'doughnut',

                            // The data for our dataset
                            data: {
                                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                datasets: [{
                                    backgroundColor: ["#FFAACC", "#FFAAFF", "#CCAAFF", "#CCCCFF", "#CCFFCC", "#CCFFFF", "#FFFFCC", "#FFDDCC", "#CCAACC", "#CCCCEE", "#CCEEEE", "#FFFFEE"],
                                    borderColor: '#F2F2F2',
                                    data: [@ViewBag.UsersJAN, @ViewBag.UsersFEB, @ViewBag.UsersMAR, @ViewBag.UsersAPR, @ViewBag.UsersMAY, @ViewBag.UsersJUN, @ViewBag.UsersJUL, @ViewBag.UsersSEP, @ViewBag.UsersAUG, @ViewBag.UsersOCT, @ViewBag.UsersNOV, @ViewBag.UsersDEC]
                                    //data: [10,50,20,30,60,5,15,35,40,55,22,43]
                                }]
                            },

                            // Configuration options go here
                            options: {
                                legend: {
                                    display: true,
                                    position: 'left',
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <h4>Money earned per month</h4>
                <!--<p>@ViewBag.Money</p>-->
                <canvas id="myChart2" width="300" height="100"></canvas>
                <script>
                    var ctx = document.getElementById('myChart2').getContext('2d');

                    var jan = parseFloat("@ViewBag.MoneyJAN".replace(",", "."));
                    var feb = parseFloat("@ViewBag.MoneyFEB".replace(",", "."));
                    var mar = parseFloat("@ViewBag.MoneyMAR".replace(",", "."));
                    var apr = parseFloat("@ViewBag.MoneyAPR".replace(",", "."));
                    var may = parseFloat("@ViewBag.MoneyMAY".replace(",", "."));
                    var jun = parseFloat("@ViewBag.MoneyJUN".replace(",", "."));
                    var jul = parseFloat("@ViewBag.MoneyJUL".replace(",", "."));
                    var aug = parseFloat("@ViewBag.MoneyAUG".replace(",", "."));
                    var sep = parseFloat("@ViewBag.MoneySEP".replace(",", "."));
                    var oct = parseFloat("@ViewBag.MoneyOCT".replace(",", "."));
                    var nov = parseFloat("@ViewBag.MoneyNOV".replace(",", "."));
                    var dec = parseFloat("@ViewBag.MoneyDEC".replace(",", ".") + '€');

                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                datasets: [{
                                    backgroundColor: ["#FFAACC", "#FFAAFF", "#CCAAFF", "#CCCCFF", "#CCFFCC", "#CCFFFF", "#FFFFCC", "#FFDDCC", "#CCAACC", "#CCCCEE", "#CCEEEE", "#FFFFEE"],
                                    borderColor: '#F2F2F2',
                                    data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
                                    //data: [10,50,20,30,60,5,15,35,40,55,22,43]
                                }]
                            },

                            // Configuration options go here
                            options: {
                                legend: {
                                    display: false,
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return "€" + Number(tooltipItem.yLabel);
                                        }
                                    }
                                }
                            }
                        });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
